/* .artist {
  background-color: aqua;
} */

h1 {
  background-color: #1f091e;
  padding: 10px;
  border-radius: 40px;
  text-align: center;
}

#search {
  width: 300px;
  height: 50px;
  border-radius: 40px;
  border: 2px solid lightgray;
}
#save-note {
  height: 50px;
  width: 100px;
  border-radius: 40px;
  border: 2px solid lightgray;
}

#search {
  text-align: center;
}
#player {
  width: 400px;
  height: 40px;
  padding-top: 10px;
}

.card {
  display: flex;
  text-align: center;
  /* margin: 5px; */
  /* background-color: lightyellow; */
  display: inline-block;
  vertical-align: middle;

  width: 470px;
  height: 200px;
  /* box-sizing: border-box; */

  background-color: #e4e4d9;

  background-image: linear-gradient(175deg, rgba(0, 0, 0, 0) 95%, #8da389 95%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 95%, #8da389 95%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 90%, #b4b07f 90%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 92%, #b4b07f 92%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 85%, #c5a68e 85%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 89%, #c5a68e 89%),
    linear-gradient(175deg, rgba(0, 0, 0, 0) 80%, #ba9499 80%),
    linear-gradient(85deg, rgba(0, 0, 0, 0) 86%, #ba9499 86%);
  /* linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%); */
  /* linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%); */
}

.albumArt {
  padding: 12px;
}
.audioPlayer {
  align-items: center;
  padding-top: 35px;
}
