/* .artist {
  background-color: aqua;
} */

.containerCard {
  /* display: flex; */
  text-align: center;
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
}
